version: 2.1
orbs:
    gh: circleci/github-cli@1.0.3
    codecov: codecov/codecov@1.1.3
    browser-tools: circleci/browser-tools@1.2.4
jobs:
    build_project:
        working_directory: ~/angular-cli-templates
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - browser-tools/install-browser-tools
            - restore_cache:
                keys:
                    - v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Install Dependencies
                command: |
                    yarn install --frozen-lockfile
            - save_cache:
                name: Save Cache
                paths:
                    - ~/.cache
                    - node_modules
                key: v2-dependencies-{{ checksum "yarn.lock" }}
            - run:
                name: Prettier Check
                command: |
                    yarn prettier:check
            - run:
                name: Lint
                command: |
                    yarn lint
            - run:
                name: Unit Tests
                command: |
                    yarn test --no-watch --code-coverage
            - run:
                name: Build Project
                command: |
                    yarn build
            # Save the coverage folder for codecov report upload.
            - persist_to_workspace:
                root: .
                paths:
                    - coverage
    coverage_report:
        working_directory: ~/angular-cli-templates
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - attach_workspace:
                at: .
            - codecov/upload:
                file: './coverage/lcov.info'
                token: ac5c0a5d-760d-401d-9cbb-a2e8c86a8aaf
    publish:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - run:
                  name: Authenticate with registry
                  command: |
                      echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
                      echo "//registry.yarnpkg.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            - run:
                  name: Publish @brightlayer-ui/angular-template-blank
                  command:  |
                      cd src/app/blank && yarn publish:package -b $CIRCLE_BRANCH
            - run:
                  name: Publish @brightlayer-ui/angular-template-routing
                  command:   |
                      cd src/app/routing && yarn publish:package -b $CIRCLE_BRANCH
            - run:
                  name: Publish @brightlayer-ui/angular-template-authentication
                  command:   |
                      cd src/app/auth-workflow && yarn publish:package -b $CIRCLE_BRANCH
    tag:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - gh/setup
            - run:
                  name: Tag @brightlayer-ui/angular-template-blank
                  command:  |
                      cd src/app/blank && yarn tag:package -b $CIRCLE_BRANCH
            - run:
                  name: Tag @brightlayer-ui/angular-template-routing
                  command:   |
                      cd src/app/routing && yarn tag:package -b $CIRCLE_BRANCH
            - run:
                  name: Tag @brightlayer-ui/angular-template-authentication
                  command:   |
                      cd src/app/auth-workflow && yarn tag:package -b $CIRCLE_BRANCH
workflows:
    version: 2
    angular-cli-templates:
        jobs:
            - build_project
            - publish:
                requires:
                    - build_project
                filters:
                    branches:
                        only:
                            - master
                            - dev
            - coverage_report:
                requires:
                    - build_project
                filters:
                    branches:
                        only:
                            - master
            - tag:
                  requires:
                      - publish
                  filters:
                      branches:
                          only:
                              - master
